.DS_Store
.Rhistory
.Rproj.user
fsm.Rproj
tmp
datafsm.Rcheck
.RData
.Rprofile
*.Rproj
vignettes/*_cache/
vignettes/*_files/
vignettes/res*.Rds
vignettes/.build.timestamp
vignettes/*.html
vignettes/*.md
vignettes/*.tex
/inst/doc/

