.Rproj.user/
*.Rproj
.RData
.Rhistory
.Rprofile
.DS_Store
tmp
datafsm.Rcheck
/vignettes/*_cache/
/vignettes/*_files/
/vignettes/res*.Rds
/vignettes/.build.timestamp
/vignettes/*.html
/vignettes/*.md
/vignettes/*.tex
/src/*.o
/src/*.dll
/inst/doc/
/doc/
/Meta/
docs
